* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amazon Ember", Arial, sans-serif;
}
#container {
  width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 100px 2fr 1fr;
}
#container > div {
  border: 1px solid black;
}
.header {
  width: 100%;
  grid-area: header;
}
.main_cover {
  width: 100%;
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e6e6;
}
.main {
  width: 1200px;
  display: grid;
  grid-template-rows: 200px 2fr 2fr 1fr;
  background-color: #e3e6e6;
  row-gap: 20px;
}
.box2 {
  background-color: pink;
}
.box3 {
  background-color: bisque;
}
.footer {
  width: 100%;
  grid-area: footer;
  background-color: brown;
}
.nav {
  width: 100%;
  height: 60px;
  background-color: #131b2d;
  display: flex;
  align-items: center;
  gap: 5px;
}
.menu {
  width: 100%;
  height: 40px;
  background-color: #232f3e;
}
.nav_fill {
  width: 43%;
  display: flex;
}
.nav_tools {
  width: 32%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav_logo {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_local {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}
.nav_logo img {
  width: 113px;
  height: 55px;
  margin-left: 3px;
}
.location {
  padding-top: 15px;
  padding-right: 3px;
  color: #ffffff;
}
.address {
  display: flex;
  flex-direction: column;
}
.add_1 {
  color: #cccccc;
  font-size: 12px;
  font-weight: 400;
}
.add_2 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}
.search_in1 {
  width: 50px;
  height: 40px;
  font-size: 14px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 3px 0px 0px 3px;
  position: relative;
  padding-top: 11px;
  text-align: center;
  font-size: 14px;
  color: #0f1111;
}
.search_in1_list {
  width: 220px;
  height: 100px;
  position: absolute;
  border: 1px solid black;
  margin-top: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  color: #0f1111;
  visibility: hidden;
  overflow-y: scroll;
}
.search_in1_list > div:hover {
  background-color: blue;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search_in1:hover .search_in1_list {
  visibility: visible;
}
.search_in1:hover {
  border: 2px solid #febd69;
}
.search_in2:hover {
  border: 2px solid #febd69;
}
.search_in2 {
  width: 76%;
  height: 40px;
  font-size: 16px;
  padding-left: 5px;
  border: none;
  outline: none;
  background-color: #ffffff;
}
.search_field {
  width: 6%;
  height: 40px;
  background-color: #ffffff;
  padding: 8px 5px 0px 5px;
}
.search_field img {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
}
.search_in3 {
  width: 10%;
  height: 40px;
  font-size: 20px;
  background-color: #febd69;
  border: none;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_in3:hover {
  background-color: coral;
}
.nav_logo img:hover,
.nav_local:hover,
.language:hover,
.signin:hover,
.order-return:hover,
.add-cart:hover,
.menu a:hover {
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.language,
.signin,
.order-return,
.add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.language {
  width: 20%;
  height: 55px;
  font-size: 14px;
}
.signin {
  width: 34%;
  height: 55px;
}
.order-return,
.add-cart {
  width: 23%;
  height: 55px;
}
.language img {
  width: 20px;
  height: 20px;
}
.signin a,
.order-return a,
.language a,
.add-cart a {
  text-decoration: none;
}
.lang_2 {
  position: relative;
  color: #ffffff;
}
.lang_3 {
  position: absolute;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-left: 5px;
  gap: 5px;
  font-size: 12px;
  background-color: #ffffff;
  color: #0f1111;
  visibility: hidden;
  z-index: 1;
}
.lang_3 span:hover {
  color: #febd69;
}
.language:hover .lang_3 {
  visibility: visible;
}
.signin_1 {
  font-size: 12px;
  color: #ffffff;
}
.signin_2 {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.add-cart i {
  color: #ffffff;
  font-size: 25px;
}
.menu_left {
  display: flex;
  gap: 10px;
  margin-left: 5px;
}
.menu a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 10px;
}
.nav_bg_image {
  width: 100%;
  height: 500px;
  background-image: url(assets/images/71eyxnCHiwL._SX3000_.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nav_bg_image img {
  width: 100%;
  height: 100%;
}
.box_1 {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-areas:
    "box1 box2 box3 box4"
    "box1 box2 box3 box5"
    "box1 box2 box3 box5"
    "box1 box2 box3 box5";
  grid-template-columns: repeat(4, 23.4%);
  padding-left: 20px;
  gap: 20px;
}
.box_1_link1 {
  grid-area: box1;
}
.box_1_link2 {
  grid-area: box2;
}
.box_1_link3 {
  grid-area: box3;
}
.box_1_link4 {
  grid-area: box4;
}
.box_1_link5 {
  grid-area: box5;
}
.box_1 > div {
  background-color: rgb(255, 255, 255);
}
.box_1_link1 {
  display: grid;
  grid-template-rows: 60px 310px 30px;
}
.product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 10px 0px 10px;
}
.product > div {
  width: 50%;
  height: 50%;
}
.product_detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.product_image {
  width: 100%;
  height: 82%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.saveoff {
  width: 100%;
  height: 17%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.title {
  padding: 15px 15px 0px 15px;
}
.size_image1 {
  width: 50px;
  height: 120px;
}
.size_image2 {
  width: 100px;
  height: 100px;
}
.size_image3 {
  width: 80px;
  height: 80px;
}
.size_image4 {
  width: 100px;
  height: 50px;
}
.save_off {
  font-size: 12px;
  background-color: rgb(204, 12, 57);
  padding: 6px 10px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-right: 5px;
}
.deal {
  font-size: 12px;
  color: rgb(204, 12, 57);
  font-weight: bold;
}
.connect a {
  text-decoration: none;
  font-size: 13px;
  color: rgb(0, 113, 133);
  padding-left: 10px;
}
.box_1_link4 {
  width: 100%;
  display: grid;
  grid-template-rows: 55% 45%;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  width: 100%;
  height: 30px;
  background-color: orange;
  padding: 0px 80px;
  border: none;
  border-radius: 5px;
}
